.dark-bg {
    background-color: #222;
    color: white;
    height: 100px;
}

.dark-bg-mb {
    background-color: #222;
    color: white;
    height: 400px;
}

.LOGO {
    margin-top: 140px;
    margin-left: 20px;
    font-family: fantasy;
    font-size: 10rem;
}

.menuButton {
    margin-top: 140px;
    font-size: 8rem;
    font-family: fantasy;
    color: white;
    cursor: pointer;
}

.blueMenuButton {
    color: deepskyblue;
}

.hiddenMenu {
    background-color: #222;
    height: 100%;
    color: white;
    display: none;
}

.menuItem {
    font-size: 4rem;
    margin-bottom: 30px;
}



body {
    padding: 0px;
    margin: 0px;
    background-color: #222;
}

.row {
    margin: 0px;
}

.welcomeMessage {
    background-color: white;
    font-size: 5rem;
}

.welcomeMessage h1 {
    font-size: 7rem;
}
