.dark-bg {
    background-color: #222;
    color: white;
    height: 100px;
}

.dark-bg-mb {
    background-color: #222;
    color: white;
    height: 400px;
}

.LOGO {
    margin-top: 140px;
    margin-left: 20px;
    font-family: fantasy;
    font-size: 10rem;
}

.menuButton {
    margin-top: 140px;
    font-size: 8rem;
    font-family: fantasy;
    color: white;
}

.hiddenMenu {
    background-color: #222;
    height: 200px;
    color: white;
}

.menuItem {
    font-size: 4rem;
    margin-top: 10px;
}

